header {text-align: justify; font-size: x-large; font-style: bold, italic;}
body {background-image: linear-gradient(to right,lightskyblue, gray); color: black;}
main {
    width: 80%; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 25px;
    border-style: groove;
    background-color: lightsalmon;
}
